@import './variable/color.module.scss';
@import './variable/size.module.scss';
@import '@src/styles/utils.module.scss';

@mixin color-set {
  background: $cdkit-color-nav-bg;
}

@mixin navigation {
  width: $cdkit-size-nav-width;
  height: inherit;
  overflow: auto;
  padding: 1rem;
}

.navigation {
  @include navigation;
  @include color-set;
  @include scrollbar;
}
