@import '@src/styles/color/color.module.scss';
@import '@src/styles/utils.module.scss';

.nav {
  gap: 24px;
  z-index: 502;
  & > span {
    cursor: pointer;
    color: $light-text;
    @include colorTransition;
  }
  &.dark > span {
    color: $dark-text;
  }
}
