@import '@src/styles/color/color.module.scss';
@import '@src/utils/layout.module.scss';

.gnb {
  position: fixed;
  z-index: 998;
  transition: transform 0.5s ease;
  &.side {
    padding: 16px 0 16px 16px;
    --cdkit-size-nav-width: #{$side-nav-width};
    border-right: var(--sideNav-borderRight);
    @media screen and (max-width: #{$resolution_width_768}px) {
      display: none;
    }
  }
  &.header {
    padding: 0 16px;
    --cdkit-size-nav-width: 100%;
    display: none;
    @media screen and (max-width: #{$resolution_width_768}px) {
      display: block;
    }
  }
  .category {
    font-weight: 700;
  }
  .linker {
    --cdkit-color-nav-menu-text: rgb(134, 151, 132);
  }
}
