$header-height: 64px;
$footer-height: 64px;
$side-nav-width: 196px;

$resolution_width_360: 360;
$resolution_width_480: 480;
$resolution_width_608: 608;
$resolution_width_768: 768;
$resolution_width_800: 800;

$resolution_height_267: 267;
$resolution_height_340: 340;
$resolution_height_480: 480;
$resolution_height_600: 600;
$resolution_height_780: 780;

:export {
  header_height: 64;
  footer_height: 64;
  side_nav_width: 196;

  resolution_width_360: $resolution_width_360;
  resolution_width_480: $resolution_width_480;
  resolution_width_608: $resolution_width_608;
  resolution_width_768: $resolution_width_768;
  resolution_width_800: $resolution_width_800;

  resolution_height_267: $resolution_height_267;
  resolution_height_340: $resolution_height_340;
  resolution_height_480: $resolution_height_480;
  resolution_height_600: $resolution_height_600;
  resolution_height_780: $resolution_height_780;
}
