@mixin transition($option...) {
  transition: $option;
  -o-transition: $option;
  -moz-transition: $option;
  -webkit-transition: $option;
}

@mixin colorTransition($t: 0.14s) {
  @include transition(background-color $t ease-in-out, color $t ease-in);
}

@mixin transform($option...) {
  transform: $option;
  -o-transform: $option;
  -ms-transform: $option;
  -moz-transform: $option;
}

@mixin scrollbar(
  $width: 0.9rem,
  $height: 0.9rem,
  $color: var(--cdkit-color-scroll-bg, $light-gray100),
  $hoverColor: var(--cdkit-color-scroll-bg-hover, $light-gray200)
) {
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 16px;
    &:hover {
      background-color: $hoverColor;
    }
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}
