@mixin transition($option...) {
  transition: $option;
  -o-transition: $option;
  -moz-transition: $option;
  -webkit-transition: $option;
}

@mixin colorTransition($t: 0.14s) {
  @include transition(background-color $t ease-in-out, color $t ease-in);
}

@mixin transform($option...) {
  transform: $option;
  -o-transform: $option;
  -ms-transform: $option;
  -moz-transform: $option;
}
