@import '@src/styles/color/color.module.scss';
@import '../ContentsLayout/layout.module.scss';

@mixin color-set {
  background: var(--footer-bg);
  .update {
    color: var(--footer-update);
  }
}

.footer {
  margin-top: auto;
  height: $footer-height !important;
  padding: 0 16px;
  justify-content: flex-end;
  box-sizing: border-box;
  @include color-set;
  .update {
    font-style: italic;
    font-size: 13px;
  }
}
