.tab {
  .mark {
    background: var(--tab-mark);
  }
  .options {
    .option {
      background: var(--tab-bg);
      color: var(--tab-text);
      &:hover {
        background: var(--tab-bg-hover);
      }
    }
  }
}
