.button-document {
  gap: 1rem;
  flex-wrap: wrap;
  .button-variant,
  .button-shape {
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.badge,
.checkbox,
.pgbar,
.radio,
.spinner,
.switch,
.tab {
  gap: 1rem;
  flex-wrap: wrap;
}

.popup {
  padding: 1rem;
}
