.description {
  padding: 0 1rem;
  line-height: 1.5;
}
.use-guide {
  width: fit-content;
  & > a {
    color: inherit;
    text-decoration: none;
  }
  .custom.goto-button {
    padding: 1rem;
    width: 100%;
    background: var(--button-bg);
    color: var(--button-text);
    &:hover {
      background: var(--button-bg-hover) !important;
      color: var(--button-text-hover) !important;
    }
  }
}
