@import '@src/styles/color/color.module.scss';
@import '@src/styles/utils.module.scss';
@import '@src/utils/layout.module.scss';

@mixin active($transform) {
  &.active {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    & > span:nth-of-type(1) {
      -webkit-transform: translateY($transform) rotate(-45deg);
      transform: translateY($transform) rotate(-45deg);
    }
    & > span:nth-of-type(2) {
      -webkit-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg);
    }
    & > span:nth-of-type(3) {
      opacity: 0;
    }
  }
}

@mixin position($pos) {
  & > span:nth-of-type(1) {
    top: 0;
  }
  & > span:nth-of-type(2) {
    top: $pos;
  }
  & > span:nth-of-type(3) {
    bottom: 0;
  }
  @include active($pos);
}

@mixin size {
  width: 20px;
  height: 16px;
  @include position(7px);
  @media (max-width: #{$resolution_width_480}px) {
    width: 18px;
    height: 14px;
    @include position(6px);
  }
}

@mixin hamburger {
  position: relative;
  cursor: pointer;

  &,
  & > span {
    display: inline-block;
    transition: transform 0.4s, opacity 0.4s, background-color 0.14s ease-in-out,
      color 0.14s ease-in-out;
    box-sizing: border-box;
  }
}

@mixin color-set {
  & > span {
    background: var(--hamburger-color);
  }
}

@mixin bar {
  & > span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 4px;
  }
}

.hamburger {
  @include hamburger;
  @include bar;
  @include size;
  @include color-set;
}
