@import '@src/utils/layout.module.scss';

@mixin layout-reactive {
  $left-gap: calc($side-nav-width + 18px);
  width: calc(100% - $left-gap);
  margin-left: $left-gap;
  @media screen and (max-width: #{$resolution_width_768}px) {
    width: 100%;
    margin-left: 0;
  }
}

@mixin header-reactive {
  padding: 1.5rem 3rem;
  @media screen and (max-width: #{$resolution_width_480}px) {
    padding-left: 1.75rem;
  }
  .contents > .left > .hamburger {
    display: none;
    @media screen and (max-width: #{$resolution_width_768}px) {
      display: block;
    }
  }
}

@mixin page-reactive {
  padding: 4rem 3rem;
  @media screen and (max-width: #{$resolution_width_480}px) {
    padding: 2.5rem 2rem;
  }
}

@mixin hamburgerMenu-reactive {
  width: 20px !important;
  height: 16px !important;
  @include position(7px);
  @media screen and (max-width: #{$resolution_width_480}px) {
    width: 18px !important;
    height: 14px !important;
    @include position(6px);
  }
}

@mixin sideNav-reactive {
  @media screen and (max-width: #{$resolution_width_768}px) {
    display: none;
  }
}

@mixin headerNav-reactive {
  display: none;
  @media screen and (max-width: #{$resolution_width_768}px) {
    display: block;
  }
}

@mixin themeIcon-reactive {
  width: 32px;
  height: 32px;
  @media (max-width: #{$resolution_width_480}px) {
    width: 28px;
    height: 28px;
  }
}

.layout {
  min-height: calc(100% - $footer-height);
  @include layout-reactive;
}
