@import '@src/styles/color/color.module.scss';
@import '@src/styles/utils.module.scss';
@import '../ContentsLayout/layout.module.scss';

@mixin header-nav {
  padding: 0;
  height: 0;
  box-sizing: border-box;
  margin-top: $header-height;
  will-change: height, padding;
  @include transition(height 0.3s ease-in-out, padding 0.3s ease-in-out);
  &.openNav {
    padding: 16px 16px 106px 16px;
    height: 100%;
  }
}

@mixin color-set {
  background: var(--header-bg);
  color: var(--header-text);
  border-bottom: var(--header-borderBottom);
}

.header {
  position: fixed;
  flex-direction: column;
  padding: 24px 48px;
  height: $header-height !important;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
  @include color-set;
  .contents {
    justify-content: space-between;
    position: relative;
    .left {
      column-gap: 32px;
      min-height: 20px;
    }
    .right {
      &.theme-icon {
        user-select: none;
      }
    }
  }
  @media screen and (max-width: #{$resolution_width_480}px) {
    padding: 24px;
  }
}
.nav {
  @include header-nav();
}
