@import '../color.module.scss';

@mixin tab-light {
  --cdkit-color-tab-bg: #{$light-primary000};
  --cdkit-color-tab-bg-hover: #{$light-primary200};

  --cdkit-color-tab-mark: #{$light-blue300};

  --cdkit-color-tab-text: #{$light-text};
  --cdkit-color-tab-text-hover: #{$light-text};
}

@mixin tab-dark {
  --cdkit-color-tab-bg: #{$dark-primary200};
  --cdkit-color-tab-bg-hover: #{$dark-primary300};

  --cdkit-color-tab-mark: #{$dark-blue300};

  --cdkit-color-tab-text: #{$dark-text};
  --cdkit-color-tab-text-hover: #{$dark-primary700};
}
