@import '@src/styles/color/color.module.scss';
@import '@src/styles/utils.module.scss';
@import '@src/utils/layout.module.scss';

@mixin header-nav {
  padding: 0;
  height: 0;
  box-sizing: border-box;
  margin-top: $header-height;
  will-change: height, padding;
  @include transition(height 0.3s ease-in-out, padding 0.3s ease-in-out);
  &.openNav {
    padding: 1rem 1rem 6.625rem 1rem;
    height: 100%;
  }
}

@mixin color-set {
  background: var(--header-bg);
  color: var(--header-text);
  border-bottom: var(--header-borderBottom);
}

.header {
  position: fixed;
  flex-direction: column;
  padding: 1.5rem 3rem;
  height: $header-height !important;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
  @include color-set;
  .contents {
    justify-content: space-between;
    .left {
      .hamburger {
        display: none;
        @media screen and (max-width: #{$resolution_width_768}px) {
          display: block;
        }
      }
    }
    .right {
      position: relative;
      &.theme-icon {
        user-select: none;
      }
    }
  }
  @media screen and (max-width: #{$resolution_width_480}px) {
    padding: 1.5rem;
  }
}
.nav {
  @include header-nav();
}
