@import '@src/styles/color/color.module.scss';

.container {
  row-gap: 2rem;
  .doc-contents {
    width: 100%;
    .desc {
      line-height: 1.1rem;
      letter-spacing: 0.05rem;
      font-size: 0.85rem;
    }
    .view {
      border-radius: 8px;
      padding: 2rem;
      background-color: var(--card-bg);
    }
  }
}
